.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .buttonContainer {
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-direction: row-reverse;

    .button {
      margin-left: 10px;
    }
  }
}
