.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit {
      margin-right: 4px;
    }
  }

  .line:not(:first-child) {
    margin-top: 4px;
  }
}
