.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .line {
    display: flex;
    justify-content: space-between;
  }

  .divider {
    width: 100%;
    border-top-color: #ccc;
    margin: 5px 0;
  }
}
