.container {
  display: flex;
  max-width: 300px;
  margin: auto;
  justify-content: center;
  padding: 12px;
  flex-direction: column;
  align-items: center;

  .button {
    width: 100%;
    margin-top: 20px;
  }

  .taxContainer {
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }

  .breakdown {
    width: 100%;
    display: flex;
    flex-direction: column;

    .well {
      width: 100%;
      margin-top: 10px;
    }
  }
}
