.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .input {
    width: 100%;
  }

  .participantsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    .participantsButtonContainer {
      display: flex;

      button {
        margin: 2px;
      }
    }
  }

  .buttonContainer {
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-direction: row-reverse;

    .button {
      margin: 5px;
    }
  }
}
